/* flex 布局 */
.container{
    display: flex;
}
.left{
    width: 200px;
}
.right{
    flex: 1;
    /* flex: 1 是 flex-grow: 1; flex-shrink: 1; flex-basis: 0 的简写，表示可以放大占满剩余空间，也可以缩小。 */
}



/* float 布局 */
.left{
    float: left;
    width: 200px;
}
.right{
    margin-left: 200px;
}



/* grid 布局 */

.coantainer{
    display: grid;
    grid-template-columns: 200px 1fr;
}